﻿@{
    ViewBag.Title = "Multiplayer Quiz - Question Portal";
}

@Html.ActionLink("Go back and suggest a new question", "Index")

<h2>Frequently Asked Questions</h2>
<ul class="faq">
    <li>
        <h3>What is Multiplayer Quiz?</h3>
        <p>Multiplayer Quiz is an online, multiplayer game for Windows Phone 7 devices. <br /><br />Got a few minutes for a quick and fun game? Compete online against in this multiplayer general knowledge quiz. Join in on rapid-fire rounds of 15 questions of interesting facts. Who knows, you might learn something interesting!</p>
    </li>
    <li>
        <h3>I have a Windows Phone, where can I download Multiplayer Quiz?</h3>
        <p>You can download it from the marketplace by searching for "Multiplayer Quiz." Alternatively, the link for the app is here: <a href="http://www.windowsphone.com/en-US/apps/d823cbc6-a1f2-47ba-8eaf-0dbcdde6ec0f">Multiplayer Quiz</a></p>
    </li>
    <li>
        <h3>How will my questions be used?</h3>
        <p>Once you've submitted your question, we'll go through it and verify that it's correct. If everything is in order we'll put it into normal circulation with the other questions.</p>
    </li>
    <li>
        <h3>What type of questions should I add?</h3>
        <p>You can add any type of question as long as it fits within the character limitations.  Obviously the more interesting the question the more fun it will be for other people to answer!</p>
    </li>
    <li>
        <h3>What do the questions look like in the game?</h3>
        <p>
            Here's a screenshot of a question about Egypt's independence:<br />
            <img src="/Content/Images/Screenshot1.png" alt="Gameplay screenshot" />
        </p>
    </li>
    <li>
        <h3>What does the explanation field do?</h3>
        <p>
            The explanation field is used to give the players a bit of extra information about your question after they've answered it.  As an example, here's a screenshot of the explanation field showing information about when dinosaurs became extinct:<br />
            <img src="/Content/Images/Screenshot2.png" alt="Explanation screenshot" />
        </p>
    </li>
    <li>
        <h3>Are there different categories for questions?</h3>
        <p>Not yet, but keep watching this space!</p>
    </li>
    <li>
        <h3>How long does it take for a question to be reviewed?</h3>
        <p>Depending on how busy our reviewers are it could be anywhere from a few minutes to a day or 2. Usually it's a quick process though.<br /><br />
        
        Be aware though that just because a question is approved doesn't mean you'll instantly see it in a game. Questions in a game are chosen at random!</p>
    </li>
</ul>

@Html.ActionLink("Go back and suggest a new question", "Index")