﻿@model MultiplayerQuiz.Models.NewQuestionModel

@{
    ViewBag.Title = "Multiplayer Quiz - Question Portal";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(function () {
        $('input[maxlength], textarea[maxlength]').keyup(function () {
            var maxLength = $(this).attr('maxlength');
            var name = $(this).attr('id');

            var left = maxLength - $(this).val().length;
            $('#' + name + 'CharsLeft').text('Characters left: ' + left);
        });
    });
</script>

<div>
    <h4>How will my question be used? Go to the @Html.ActionLink("FAQ", "faq")</h4>
</div>

<div class="notification">
    <h2>
        Now <em>YOU</em> can be part of the Multiplayer Quiz team!
    </h2>
    <p>Suggest a new question for the quiz below and after we review it, we'll make sure it gets into the regular circulation phase so your friends will be playing <i>your</i> questions!</p>
</div>

@using (Html.BeginForm("AddQuestion", "Home"))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Suggest a new question</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.QuestionText)
            <div id="QuestionTextCharsLeft" class="subtle">Characters left: 100</div>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.QuestionText, 5, 40, new { maxlength = 100 })
            @Html.ValidationMessageFor(model => model.QuestionText)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
            <div id="DescriptionCharsLeft" class="subtle">Characters left: 500</div>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description, 10, 40, new { maxlength = 500 })
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CorrectOption)
            <div id="CorrectOptionCharsLeft" class="subtle">Characters left: 100</div>
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CorrectOption, new { maxlength = 100 })
            @Html.ValidationMessageFor(model => model.CorrectOption)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IncorrectOption1)
            <div id="IncorrectOption1CharsLeft" class="subtle">Characters left: 100</div>
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.IncorrectOption1, new { maxlength = 100 })
            @Html.ValidationMessageFor(model => model.IncorrectOption1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IncorrectOption2)
            <div id="IncorrectOption2CharsLeft" class="subtle">Characters left: 100</div>
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.IncorrectOption2, new { maxlength = 100 })
            @Html.ValidationMessageFor(model => model.IncorrectOption2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IncorrectOption3)
            <div id="IncorrectOption3CharsLeft" class="subtle">Characters left: 100</div>
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.IncorrectOption3, new { maxlength = 100 })
            @Html.ValidationMessageFor(model => model.IncorrectOption3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReferenceUrl)
            <div id="ReferenceUrlCharsLeft" class="subtle">Characters left: 500</div>
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ReferenceUrl, new { maxlength = 500 })
            @Html.ValidationMessageFor(model => model.ReferenceUrl)
        </div>

        <p>
            <input type="submit" value="Add Question" />
        </p>
    </fieldset>
}